* {
margin:0;
padding: 0;
box-sizing: border-box;
color: red;

}
body {
  height: 100%;
  width:100%;
  background-color:#111;
}
.parent {
  display:flex;
  padding:20px;
  flex-wrap:wrap;
}
.card {
  width: 300px;
  border: 1px solid white;
  background-color: #222;
  padding:1rem;
  text-align: center;
  margin:2px;


}
.card img {
  height:140px;
  width:140px;
  object-fit:cover;
  border-radius: 50%;

}
.card p {
  color:aquamarine;
  padding:10px 0;
}
.card button {
padding:10px 20px;
background-color: white;
color: black;
}